{% extends 'base.html' %}
{% load static %}
{% block content1 %}

<html>
  <head>
    <title>일기장</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href= "{% static 'diarymemo.css' %}" type="text/css" media="screen" charset="utf-8">    
  </head>
  <body>
    <div class="container">
      <p>
        <label for="new-task">Add diary</label>
        <input id="new-task" type="text">
        <button>Add</button>
      </p>
      
      <h3>diary</h3>
      <ul id="incomplete-tasks">
        <li>
          <label>운동갔다가 병원들렸다.</label>
          <input type="text">
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </li>
        <li class="editMode">
          <label>맥도날드 사왔는데 너무 맛있었다.</label>
          <input type="text" value="맥도날드 사왔는데 너무 맛있었다.">
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </li>
      </ul>
    </div>
  </body>
</html>

<script src="{%static 'diarymemo.js'%}"></script>
{% endblock %}