{% extends 'base.html' %}

{% load static %}
{% block content1 %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <img src="./icon/boogi_2.png">
      </div>
    </div>
    <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
    <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
    <div class="name">{{ user.username }}</div>
    <div class="about">Developer</div>
    <div class="social-icons">
      <a href="#" class="kakaotalk" onclick="location.href='https://open.kakao.com/o/goaPJP7e'"><img src="{%static 'icon/kakaotalk.png' %}"/></a>
      <a href="#" class="git" onclick="location.href='https://github.com/lullu303/subs_info_pjt'"><img src="{%static 'icon/git.png' %}"></i></a>
      <a href="#" class="instagram" onclick="location.href='https://www.instagram.com/special_jejudo/'"><img src="{%static 'icon/instagram.png' %}" /></a>
      <a href="#" class="youtube" onclick="location.href='https://www.youtube.com/'"><img src="{%static 'icon/youtube.png' %}"></i></a>
    </div>
    <div class="buttons">

      
      <a href= "{% url 'memo:memo_name' %}">Diary</a>
      <a href= "{% url 'calendar1:calendar1_name' %}">Calendar</a>
      <a href= "{% url 'todo:todo_name' %}">ToDo</a>
      <a href= "{% url 'weather:weather_name' %}">Weather</a>
   
    </div>
    <div class="social-share">

      <div class="row">
        <a>데이터 분석 서비스 개발자 7기</a>
      </div>
    </div>
  </div>
{% endblock %}